<div class="flex justify-center">
    <div class="container my-4 ">
        <div class="p-4">
            <div class="border-2 p-4  border-zinc-500 rounded-md mb-6 flex items-center justify-between">

                <h3 class="text-xl font-semibold">
                    Listado de Ventas
                </h3>
            </div>


            <div class="flex justify-center my-8 gap-8 items-end">
                <div>
                    <h2>Fecha de venta desde</h2>
                    <p-calendar [(ngModel)]="startDate" dateFormat="yy-mm-dd"></p-calendar>
                </div>
                <div>

                    <h2>Fecha de venta hasta</h2>
                    <p-calendar [(ngModel)]="endDate" dateFormat="yy-mm-dd"></p-calendar>
                </div>
                <button pButton type="button" label="Filtrar" (click)="searchVenta()">
                    <i class="pi pi-filter-fill pr-2"></i>
                </button>

            </div>


            <div class="container">

                <p-table [value]="filteredVentas" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                    [rowsPerPageOptions]="[10, 25, 50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let title of titles">
                                {{title}}
                            </th>
                        </tr>
                    </ng-template>


                    <ng-template pTemplate="body" let-venta>
                        <tr>
                            <td>
                                {{venta.medicamentoDto.nombre}}
                            </td>
                            <td>
                                {{venta.medicamentoDto.lab_fabrica}}
                            </td>
                            <td>
                                {{ venta.fecha_venta | date:'dd/MM/yyyy, HH:mm:ss' }}
                            </td>
                            <td>
                                {{ venta.cantidad }}
                            </td>
                            <td>
                                $ {{ venta.valor_unitario.toLocaleString() }}
                            </td>

                            <td>
                                $ {{ venta.valor_total.toLocaleString() }}
                            </td>
                        </tr>
                    </ng-template>

                </p-table>
            </div>
        </div>
    </div>
</div>